name: PHP CI

on:
  push:
    branches: [ "main" ]

jobs:
  php-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Check PHP Version
        run: php -v
