name: PHP CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"

      - name: Display PHP Version
        run: php -v

      - name: Lint PHP files
        run: |
          find . -type f -name "*.php" -exec php -l {} \;